# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
dist/
build/
*.so
*.ini
*.log

# Environment
.env
Docs/

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo
*.bat

# Render specific
.render