# requirements.txt

# Core Discord library
discord.py

# Google Cloud APIs for translation and monitoring
google-api-python-client
google-auth-oauthlib
google-cloud-translate
google-cloud-monitoring
langdetect

# For loading environment variables from .env file
python-dotenv

# PostgreSQL database driver
asyncpg

